# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Generated data
data/raw/
data/processed/

# Trained models
models/*.pkl
models/*.joblib

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# MLflow local tracking
mlartifacts/
mlflow.db
mlruns/